#container {
    margin-top: 40px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.read_title {
    height: 45px;
    font-size: 23.5px;
    text-align: center;
    background-color: #3C3C3C;
    color: white;
    width: 700px;
}

.read {
    background-color: #EEEEEE;
    width: 30px;
    text-align: center;
    height: 33px;
}

.read2 {
    background-color: white;
    width: 60px;
    height: 33px;
    padding-left: 10px;
}

.read2_hit {
    background-color: white;
    width: 20px;
    height: 33px;
    padding-left: 10px;
}

.read_ctnt {
    padding: 20px;
    border: 1px solid #444444;
    height: 300px;
}

.read_btn {
    width: 700px;
    height: 200px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

.btn {
    float: right;
    font-size: 15px;
    height: 30px;
    width: 80px;
    text-align: center;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 10px;
}

.btn:hover 
{
    text-decoration: underline;
    cursor: pointer;
}

.list_btn {
    height: 30px;
    width: 70px;
    font-size: 15px;
    text-align: center;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
}

.list_btn:hover 
{
    text-decoration: underline;
    cursor: pointer;
}

a:link {
    color: #444444;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
