h1 {
    font-size: 25px;
    text-align: center;
}

table {
    border-top: 1px solid #444444;
    border-collapse: collapse;
    width: 100%;
}

tr {
    border-bottom: 1px solid #444444;
    padding: 10px;
    text-align: center;
}

td,  th {
    border-bottom: 1px solid #efefef;
    padding: 10px;
    text-align: center;
}

table .even {
    background: #efefef;
}

.text {
    text-align: center;
    padding-top: 20px;
    color: #000000
}

.text:hover {
    text-decoration: underline;
    cursor: pointer;
}

a:link {
    color: #444444;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.btn {
    float: right;
    font-size: 15px;
    height: 30px;
    width: 80px;
    text-align: center;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 10px;
}

.btn:hover 
{
    text-decoration: underline;
    cursor: pointer;
}

.paging { 
    text-align: center; 
    padding: 20px;
    word-spacing: 10px;
}

.pageSelected { font-weight: bold; color: red; }
.pageSelected > a { color: red; }