#container {
    display: flex;
    justify-content: center;
}

.title {
    height: 40;
    float: center;
    background-color: #3c3c3c;
    font-size: 25px; 
    text-align: center;
    color: #fff;
    margin: 15px 0px;
}

.title th {
    padding: 10px;
}

.table2 {
    border-collapse: separate;
    border-spacing: 1px;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    margin: 20px 10px;
}

.table2 tr {
    width: 50px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}

.table2 td {
    width: 100px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}

.btn {
    height: 30px;
    width: 70px;
    font-size: 15px;
    text-align: center;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
}

.btn:hover 
{
    text-decoration: underline;
    cursor: pointer;
}