*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.gal_nm {
    display: flex;
    justify-content: center;
    border: 1px solid#000;
    text-align: center;
    font-size: 50px;
    margin-top: 10px;
}

table {
    display: flex;
    justify-content: center;
    border-collapse: collapse;
    margin: auto;
    padding-top: 10px;
    width: 80%;
}

th {
    height: 50px;
    width: 100px;
    text-align: center;
}

th, td {
    border: 1px solid#000;
}

.date {
    text-align: center;
}

.img {
    display: flex;
    justify-content: center;
    border-collapse: collapse;
    margin: auto;
    padding-top: 10px;
    width: 80%;
}

.no {
    font-size: 15px;
    font-weight: bolder;
    color: #00491E;
    height: 30px;
    width: 65px;
    text-align: center;
    background-color: white;
    border: 2px solid #00491E;
    border-radius: 11px;
    margin-right: 10px;
    margin-top: 10px;
}

.no:hover 
{
    color: green;
    cursor: pointer;
}