/* body { width: 100%; margin: 0; padding: 0; } */
#container {  padding: 30px 100px; }
.show_nm div {
    /* margin: 0 auto; */
    /* width: 1200px;  */
    height: 100px;
    border: 1px solid green;
    text-align: center;
    line-height: 100px;
    font-size: 25px;
}

.show_ul { 
    width: 120px; 
    padding: 0 12px 40px 0;
    float: left; 
}
.show_ul ul { 
    /* width: 100px;  */
    /* margin: 0 auto;  */
    text-align: center; 
}
.show_ul ul li {  
    /* width: 100px; */
    border: 1px solid green;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 0;
}
.show_ul ul li:active { background-color: rgb(17, 92, 15); }
.show_ul ul li:active > a { color: white; }
.show_ul ul li a { color: black; }

.sec_1 { 
    padding: 20px 10px 0 20px;
    display: grid; 
    grid-template-columns: 1fr;
}
.sec_2 { 
    padding: 20px 10px 0 20px;
    display: grid; 
    grid-template-columns: 1fr 1fr;
}

.poster_grid {
    display: grid;
    grid-template-columns: 300px 1fr;
}
.poster_grid a > img {
    width: 300px; height: 400px;
    object-fit: cover;
    backface-visibility: hidden;
}
.poster_grid a > img:hover { 
    width: 300px;
    transform: scale(0.9, 0.9);
    transition: transform.2s;
}
.poster_grid .poster_ctnt {
    display: inline-block;
    padding: 30px 20px;
    vertical-align: middle;
}
.poster_ctnt > div:first-child { font-size: 20px; margin-bottom: 10px; }
.poster_ctnt > div > a { color: black; }
