/* *{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
} */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* #container {display: grid; grid-template-rows: 100px 1fr; min-height: 20vh;} */
#h_container > header {background-color: rgb(17, 92, 15); display: flex; align-items: center; padding: 10px 20px; position: relative;}

header{
    /* position:absolute; */
    /* top: 0; */
    /* left:0; */
    font-size:30px; 
    border-bottom: 1px solid rgb(255, 255, 255); 
    width:100%;
    height:100px;
    justify-content: center;
    /* 이미지 넣으면 마진 auto 주기 */
}

.right {
    position: absolute;
    right: 5%;
    bottom: auto;
    font-size:20px;
    color: white;
}

.right > a {color: white;}

.left {
    position: absolute;
    left: 5%;
    bottom: auto;
    font-size:20px;
}

.mid { 
    font-size:30px;
    color: white;
}

