/* * { box-sizing: border-box; padding: 0; margin: 0; }
html, body { height: 100%; }
a { text-decoration: none; color: #222; } */

/* #container { 
    display: grid; 
    grid-template-rows: 150px 1fr;
    min-height: 100%;
} */

h1 { text-align: center; padding-bottom: 10px; }

main { padding: 10px 20px; }

.paging { text-align: center; padding-top: 10px; }
.pageSelected { font-weight: bold; }
.pageSelected > a { color: rgb(159, 130, 238); }

table { border-collapse: collapse; width: 80%; margin: auto; text-align: center; }
tbody > tr > td > a:hover { font-weight: bold; }
tr { border-bottom: 1px solid #CCC; height: 70px; }
th { border-top: 2px solid rgb(159, 130, 238); padding: 15px 0; }
td { text-align: center; padding: 10px 0; }

.search_board { 
    text-align: center;
    padding-bottom: 15px;
}
.search_board input { padding: 5px; line-height: 18px; }

    