* { margin: 0; padding: 0; box-sizing: border-box; }

/* body { */
    /* display: flex; */
    /* min-height: 100vh; */
    /* flex-direction: column; */
 /* } */

.wrap {
    width: 100%;
    height: 100%;
    margin: auto;
}

.container {
    width: 100%;
    display: flex;
    flex-grow: 1;
}

.aside {
    border-right: 1px solid #ccc;
    width: 260px;
}

.aside .left {
    position: unset;
    float: left;
    margin-left: 40px;
}

.aside .left h4 { 
    text-align: center; 
    margin: 25px 8px 10px; 
    color: #00491E;
}

.aside .left ul { 
    text-align: center;     
    /* border: 2px solid #00491E;  */
    padding: 5px 20px;
}

.aside .left ul li { 
    list-style: none; 
    padding: 3px;
    margin: 10px 0px;
}

.aside .left ul li a { 
    border: 1px solid #008000;
    border-radius: 10px;
    padding: 5px 30px;
    text-decoration: none; 
    color: #00491E;
}

.aside .left ul a:hover {
    color: #008000;
    cursor: pointer; 
    text-decoration: underline;   
}

.contents {
    width: 100%;
    float: left;
}

.gallery {
    margin-left: 100px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.gallery_pic {
    padding: 5px 0;
}
/* .gallery_pic img {
    width: 400px; height: 220px;
    object-fit: cover;
} */

.gallery_nm2 a {
    text-decoration: underline;
    color: #00491E;
    font-weight: bolder;
    font-size: larger;
    margin-left: 100px;
}

.gallery tr a:hover {
    color: #008000;
    cursor: pointer; 
    text-decoration: none;   
}

.gallery_intro img { 
    margin-left: 100px;
}