body {
    display: grid;
    justify-content: center;
    margin-top: 50px;
}

a {
    color: #00491E;
    text-decoration: none;
}

a:hover {
    color: green;
    cursor: pointer;
}

.title {
    height: 40;
    float: center;
    font-size: 25px; 
    text-align: center;
    color: #00491E;
    margin: 15px 0px;
}
textarea { resize: none;  }
hr {
    width: 600px;
    text-align: left;
}

.box {
    border: none;
}

.box:focus {
    outline: none;
}

.btn {
    margin: 5px;
    padding: 5px;
    width: 80px;
    border: none;
    border-radius: 3px;
    background-color: #00491E;
    color: white;
    font-weight: 565;
    margin: none;
}

.btn:hover {
    background-color: green;
    color: whitesmoke;
    cursor: pointer;
}