* { box-sizing: border-box; padding: 0; margin: 0; }
html, body { height: 100%; }
a { text-decoration: none; color: #000; }

#container { 
    display: grid; 
    grid-template-rows: 100px 1fr; 
    min-height: 100vh; 
}
#container > header { 
    background-color: rgb(141, 133, 241); 
    display: flex; 
    align-items: center;
    padding: 10px 20px;
}

.tbl {
    border-collapse: collapse;
    border-bottom: 1px solid #444;
    width: 100%;
}

.tbl > tr, th, td {
    border-bottom: 1px solid #444;
    padding: 10px;
    text-align: center;
}


.pageSelected { font-weight: bold; color: red; }
.pageSelected > a { color: red; }