body {
    display: grid;
    justify-content: center;
}

a {
    color: #00491E;
    text-decoration: none;
}

a:hover {
    color: green;
    cursor: pointer;
}

.title {
    height: 40;
    float: center;
    font-size: 25px; 
    text-align: center;
    color: #00491E;
    margin: 15px 0px;
}

hr {
    width: 600px;
    text-align: left;
}

.box {
    border: none;
}

.box:focus {
    outline: none;
}

.btn {
    float: right;
    padding: 2px;
    margin-bottom: 9px;
    width: auto;
    border: none;
    border-radius: 5px;
    background-color: #00491E;
    color: white;
    margin: none;
    transform: translate(0, 10%);
}

.btn:hover {
    background-color: green;
    cursor: pointer;
}